# {{ LIB }}

Initialize `libbash`.

## `lb_lsf`

List all `llibbash` functions.

??? info "Parameters:"
    | Name | Type | Description | Default |
    |------|------|-------------|---------|
    | None | -    | -           | -       |

??? example "Examples:"
    ```shell hl_lines="7" linenums="1"
    --8<-- "examples/{{ LIB }}.sh"
    ```

??? quote "Show source code in `{{ LIB }}`"
    ```shell hl_lines="22 23 24" linenums="1"
    --8<-- "{{ LIB }}"
    ```
